.app {
  box-sizing: border-box;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.app__title {
  margin-bottom: 1rem;
}